* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x:hidden;
}

nav {
  width: 100%;
  height: 45px;
  background: ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  position: fixed;
  z-index: 5;
  height: 68px;
  width: 1440px;
  justify-content: flex-start;
  background-color: #FFD9DA;
  margin-top: -100px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 22px;
	font-family: "Century Gothic";
  font-weight: bold;
}

.more-nav {
  display: unset;
  padding-left: 102px;
}

.more-nav a {
  display: inline-block;
    padding-right: 30px;
}

.more {
  cursor: pointer;
}

.first {
  height: 50px;
}

.last {
  display: none;
}



main {
  /* background-color: #FFD9DA; */
  width: 1440px;
}


.right {
  padding-left: 20px;
  background-color: white;
  margin-top: 100px;
  padding-left: 3%;
  height: 800px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 70px;
  flex-direction: row;
}

.right h1 {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  font-family: "Century Gothic";
  /* margin-left: -350px; */
  width: 558px;
  margin-top: 70px;
  line-height: 65px;
  /* background-color: #FF3030; */
  text-align: center;
}

.right p {
  font-size: 35px;
  position: absolute;
  width: 794px;
  top: 454px;
  font-family: "Roboto";
  line-height: 45px;
}

.right .art55 {
  width: 1520px;
  height: 1778px;
  margin-top: 1px;
  margin-left: -505px;
  /* box-shadow: 5px 5px 50px rgba(0,0,0,0.5); */
}

.right .art555 {
  width: 801px;
  height: 978px;
  margin-top: -204px;
  /* margin-left: 647px; */
  /* box-shadow: 5px 5px 50px rgba(0,0,0,0.5); */

}


.right-n {
  padding-left: 20px;
  background-color: white;
  margin-top: 100px;
  padding-left: 3%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 70px;
  flex-direction: row;
}

.right-n h1 {
  position: absolute;
  font-size: 50px;
  color: #AA466B;
  font-weight: bold;
  font-family: "Century Gothic";
  margin-left: 450px;
  width: 508px;
  margin-top: 70px;
  line-height: 65px;
  text-align: center;
}

.right-n p {
  font-size: 35px;
  position: absolute;
  width: 679px;
  top: 1200px;
  left: 692px;
  font-family: "Roboto";
  line-height: 45px;
}

.why {
  background-color: #AA466B;
  height: 500px;
  margin-top: 150px;
  box-shadow: 5px 5px 50px rgba(0,0,0,0.5);
}

.why h1{
  color: white;
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  font-family: "Century Gothic";
  margin-left: 105px;
  width: 508px;
  margin-top: 33px;
  line-height: 65px;
  text-align: center;
}

.why p{
  color: white;
  font-size: 25px;
  position: absolute;
  width: 1200px;
  top: 1700px;
  left: 144px;
  font-family: "Roboto";
  line-height: 40px;

}

.right-ne {
  padding-left: 20px;
  background-color: white;
  margin-top: 100px;
  padding-left: 3%;
  height: 350px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 70px;
  flex-direction: row;
}

.right-ne h1 {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  font-family: "Century Gothic";
  margin-left: -353px;
  width: 608px;
  margin-top: 70px;
  line-height: 65px;
  color: #AA466B;
  text-align: center;
}

.right-ne p {
  font-size: 35px;
  position: absolute;
  margin-top: 150px;
  width: 619px;
  top: 2170px;
  left: 130px;
  font-family: "Roboto";
  line-height: 45px;
}
.right-ne img {
  width: 500px;
  height: 600px;
  margin-top: 83px;
  margin-left: 680px;
  box-shadow: 5px 5px 50px rgba(0,0,0,0.5);
}

.left {
  padding-left: 20px;
  background-color: #FFD9DA;
  margin-top: 553px;
  margin-bottom: 200px;
  padding-left: 3%;
  height: 1250px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 70px;
  flex-direction: row;
  box-shadow: 5px 5px 50px rgba(0,0,0,0.5);
}

.left h1 {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  font-family: "Century Gothic";
  margin-left: -353px;
  width: 508px;
  margin-top: 70px;
  line-height: 65px;;
  text-align: center;
}

.left p {
  font-size: 30px;
  position: absolute;
  margin-top: 245px;
  width: 600px;
  top: 3000px;
  left: 747px;
  font-family: "Roboto";
  line-height: 45px;
}

.left img {
  margin-top: 200px;
  margin-left: -700px;
}

.portfolio {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  font-family: "Century Gothic";
  margin-left: 40px;
  margin-top: -120px;
  color: black;
}

footer {
  background-color: #FFD9DA;
  height: 150px;
  width: 1440px;
  display: flex;
  align-items: center;
  margin-top: -5px;
  justify-content: space-between;
  padding: 0 5%;
}

footer p {
  font-size: 20px;
  font-family: "Roboto";
}

footer .art {
  width: 200px;
}

@media (max-width: 1024px)  {

  .last {
    display: none;
  }

  .right {
    height: 550px;
  }

  .right h1 {
    width: 426px;
    margin-left: -226px;
  }

  .right .art55 {
    width: 820px;
    height: 778px;
  }

  .right p {
    left: 145px;
    font-size: 23px;
    width: 823px;
    line-height: 36px;
  }

  .right-n  {
    height: 344px;
  }

  .right-n h1 {
    width: 353px;
    margin-left: -502px;
  }


  .right-n p {
    font-size: 23px;
    top: 910px;
    left: 110px;
    width: 900px;
    line-height: 45px;
  }

  .why {
    margin-top: 51px;
    height: 650px;
  }


  .why h1 {
    width: 795px;
    top: 1187px;
    left: -180px;
    line-height: 5px;
  }

  .why p {
    font-size: 20px;
    width: 782px;
    top: 1300px;
    left: 113px;
    line-height: 35px;
  }


  .right-ne {
    margin-top: -160px;
  }

  .right-ne h1 {
    width: 384px;
    margin-left: -491px;;
  }

  .right-ne p {
    left: 117px;
    font-size: 23px;
    width: 400px;
    margin-top: -293px;
    line-height: 36px;
  }

  .right-ne img{
    width: 400px;
    height: 500px;
    margin-top: 83px;
    margin-left: 49px;
  }

  .left {
    margin-top: 416px;
    height: 1000px;
  }


  .left h1 {
    width: 362px;
    margin-left: -503px;
  }

  .left p {
    font-size: 23px;
    line-height: 35px;
    left: 550px;
    width: 400px;
    margin-top: -406px;
  }


    .left img {
      margin-top: 200px;
      margin-left: -900px;
      width: 400px;
      height: 600px;
    }






  footer p {
    font-size: 10px;
  }

  footer {
    width: 1024px;
  }
}

@media (max-width: 768px)  {

    .last {
      display: block;
      width: 30px;
      margin-left: 620px;
    }

    nav {
      height: 50px;
    }

    .right {
      height: 405px;
    }


    .right h1 {
      font-size: 35px;
      margin-top: 20px;
      margin-left: -564px;
    }

    .right p {
      width: 350px;
      margin-top: -57px;
      line-height: 36px;
    }

    .right img {
      width: 284px;
      height: 381px;
      margin-left: -340px;
      margin-top: 19px;
    }

    .right-n {
      margin-top: 21px;
      height: 364px;
    }

    .right-n h1 {
      font-size: 35px;
      margin-left: -545px;;
      width: 265px;
    }

    .right-n p {
      font-size: 23px;
      top: 710px;
      left: 62px;
      width: 650px;
      line-height: 36px;
    }


    .right-ne {
      margin-top: -160px;
    }

    .right-ne h1 {
      font-size: 35px;
      width: 265px;
      margin-left: -545px;;
    }

    .right-ne p {
      font-size: 23px;
      top: 1710px;
      left: 62px;
      width: 650px;
      line-height: 36px;
    }

    .left h1 {
      font-size: 35px;
      width: 265px;
      margin-left: -545px;;
    }

    .left p {
      font-size: 23px;
      top: 2580px;
      left: 62px;
      width: 650px;
      line-height: 36px;
    }

    .portfolio {
      font-size: 20px;
      margin-top: -70px;
    }

    footer {
     height: 60px;
     width: 768px;
    }

    footer .art {
     width: 104px;
   }

  }




}
